body{
	background-color:#b2f7ef; 
	font-family: "papyrus";
}
h1{
	color: 	#191970;
	text-align: center;
	font-weight: bolder;
}
h6{
	color:#DAA520;

}
h4{
	color:#000000;
}
img{
	width:100%;
	height: auto;
}
h2{
	text-decoration: underline;
}

.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	position: fixed;
	height: 100%;
	overflow: auto;
	background-color: #f1f1f1
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
}