<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title | default: "oops" }}</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="topnav">
		<a href="#home">Home</a>
		<a href="#news">News</a>
		<a href="#contact">Contact</a>
		<a href="#about" class="split">Help</a>
		</div>
		<div>
			<h1>
				<img src="crab2.gif" id="myCrabs">
				{{page.title| default: "oops"}}
				<img src="crab2.gif" id="myCrabs">			
			</h1>
			{{content}}
		</div>
		
	</body>
</html>
